<div class="container-fluid">
  <!-- Content here -->
  <div class="top-bar">
    <div class="brand">
      <div class="brand_icon-toggle">☰</div>
      <div class="brand__logo">
        <a draggable="true" href="">
          <img
            class="brand__logo-img"
            src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png"
          />
        </a>
      </div>
    </div>

    <div class="nav">
      <div class="">
        <div class="nav inner-nav position-relative">
          <form class="d-flex">
            <input
              class="form-control me-2 nav__input"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <label for="top-bar-nav-input" class="nav__icon">
              <i class="material-icons">search</i>
            </label>
          </form>
        </div>
      </div>
      <div class="dropdown">
        <a
          class="btn btn-light dropdown-toggle"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span>{{ user.username }}</span>
        </a>
        <ul
          class="session-dropdown dropdown-menu"
          aria-labelledby="dropdownMenuLink"
        >
          <li>
            <a class="dropdown-header" href="#">
              Signed in as&nbsp;
              <span class="dropdown-header-text-name">
                {{ user.firstName }} {{ user.lastName }}</span
              >
            </a>
          </li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
